#menu {
    background-color: #f7f7f7;
    padding: 16px 0;
    .wrap {
        position: relative;

        .list {
            display: flex;
            justify-content: center;
            button {
                letter-spacing: 0.5px;
                padding: 6px 24px;
                color: #444;
                border: none;
                background-color: #ededed;
                border-radius: 45px;
                margin-right: 16px;
                text-transform: capitalize;
                &:last-child {
                    margin-right: 0;
                    display: flex;
                    margin-left: 16px;
                    position: relative;
                    align-items: center;

                    &::after {
                        position: absolute;
                        content: '';
                        height: 100%;
                        left: -16px;
                        top: 0;
                        width: 1px;
                        background-color: #dbdbdb;
                    }
                    span {
                        padding-right: 10px;
                    }
                }
                &:hover {
                    background-color: #f5c031;
                    color: #fff;
                }
            }
        }
        .cart {
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translateY(-50%);
            padding: 6px 8px;
            border-radius: 50%;
            cursor: pointer;
            span {
                position: relative;
                svg {
                    width: 20px;
                    height: 21px;
                }
            }
            .cart-num {
                position: absolute;
                top: -15%;
                right: -15%;
                padding: 1px 7px;
                background-color: #ef681c;
                font-size: 12px;
                text-align: center;
                border-radius: 50%;
                color: #fff;
                font-weight: 400;
                cursor: pointer;
            }
            &:hover {
                background-color: #f5c031;
                span{
                    svg{
                        fill: #fff;
                    }
                }
                .cart-num{
                    background-color: #f5c031;
                }
            }
        }
    }
}
