.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        padding-right: 13px;
        position: relative;
        cursor: pointer;
        svg {
            width: 24px;
            height: 24px;
        }
        &::after {
            content: '';
            background-color: #ed4941;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-100%);
            border: 2px solid #fff;
        }
    }
    p {
        padding-right: 10px;
        font-weight: 700;

    }
    .avatar {
        border: 8px solid #f8f8f8;
        border-radius: 50%;
        position: relative;
        transition: all 0.1s linear;
        img {
            width: 44px;
            padding: 2px;
            height: 44px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
        &:hover {
            .tab {
                display: block;
            }
        }
        .tab {
            display: none;
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            width: 145px;
            border-radius: 4px;
            border: 1px solid #c4c4c4;
            right: 0;
            background-color: #fff;
            z-index: 9999;
            .tab-wrap {
                padding: 12px 16px;
                display: flex;
                flex-direction: column;
                a {
                    color: #22232f;
                    font-weight: 400;
                    text-transform: capitalize;
                    &:hover {
                        font-weight: 700;
                        color: #2d5d8c;
                    }
                    &:nth-child(2) {
                        padding: 8px 0;
                    }
                }
            }
            &::after {
                content: '';
                width: 20px;
                height: 20px;
                border-top: 1px solid #c4c4c4;
                position: absolute;
                top: -10px;
                right: 15px;
                border-radius: 1px;
                background-color: #fff;
                transform: rotate(45deg);
                border-left: 1px solid #c4c4c4;
            }
        }
    }
}
